<html>
<title>Title</title>
<table border="1">
    <tr>
        <th colspan="2">巡检项</th>
        <th>状态</th>
        <th>故障描述</th>
    </tr>
    <tr>
        <th rowspan="3">硬件状态检查</th>
        <th>服务器运行状态检查</th>
        <td>{{ ov.hardware.service.status }}</td>
        <td>{{ ov.hardware.service.des }}</td>
    </tr>
    <tr>
        <th>IB链路状态</th>
        <td>{{ ov.hardware.ib.status }}</td>
        <td>{{ ov.hardware.ib.des }}</td>
    </tr>
    <tr>
        <th>存储设备状态</th>
        <td>{{ ov.hardware.storage.status }}</td>
        <td>{{ ov.hardware.storage.des }}</td>
    </tr>
    <tr>
        <th>Data版本</th>
        <th>Data各节点版本</th>
        <td>{{ ov.data.version.status }}</td>
        <td>{{ ov.data.version.des }}</td>
    </tr>
    <tr>
        <th rowspan="2">Link状态</th>
        <th>计算节点Link状态</th>
        <td>{{ ov.link.compute.status }}</td>
        <td>{{ ov.link.compute.des }}</td>
    </tr>
    <tr>
        <th>存储节点QLink状态</th>
        <td>{{ ov.link.storage.status }}</td>
        <td>{{ ov.link.storage.des }}</td>
    </tr>
    <tr>
        <th rowspan="5">OS状态检查</th>
        <th>Sysctl内核参数</th>
        <td>{{ ov.os.sysctl.status }}</td>
        <td>{{ ov.os.sysctl.des }}</td>
    </tr>
    <tr>
        <th>文件系统空间使用</th>
        <td>{{ ov.os.file.status }}</td>
        <td>{{ ov.os.file.des }}</td>
    </tr>
    <tr>
        <th>/var/log/messages检查</th>
        <td>{{ ov.os.messages.status }}</td>
        <td>{{ ov.os.messages.des }}</td>
    </tr>
    <tr>
        <th>OS release检查</th>
        <td>{{ ov.os.release.status }}</td>
        <td>{{ ov.os.release.des }}</td>
    </tr>
    <tr>
        <th>OS kernel检查</th>
        <td>{{ ov.os.kernel.status }}</td>
        <td>{{ ov.os.kernel.des }}</td>
    </tr>
    <tr>
        <th rowspan="6">RAC集群</th>
        <th>GI软件版本及psu</th>
        <td>{{ ov.rac.gi.status }}</td>
        <td>{{ ov.rac.gi.des }}</td>
    </tr>
    <tr>
        <th>CRS资源状态</th>
        <td>{{ ov.rac.crs.status }}</td>
        <td>{{ ov.rac.crs.des }}</td>
    </tr>
    <tr>
        <th>CRS日志</th>
        <td>{{ ov.rac.crs_log.status }}</td>
        <td>{{ ov.rac.crs_log.des }}</td>
    </tr>
    <tr>
        <th>ASM日志</th>
        <td>{{ ov.rac.asm_log.status }}</td>
        <td>{{ ov.rac.asm_log.des }}</td>
    </tr>
    <tr>
        <th>ASM磁盘组</th>
        <td>{{ ov.rac.asm_disk.status }}</td>
        <td>{{ ov.rac.asm_disk.des }}</td>
    </tr>
    <tr>
        <th>OCR/voting</th>
        <td>{{ ov.rac.ocr.status }}</td>
        <td>{{ ov.rac.ocr.des }}</td>
    </tr>
    <tr>
        <th rowspan="10">数据库</th>
        <th>实例运行时长</th>
        <td>{{ ov.db.time.status }}</td>
        <td>{{ ov.db.time.des }}</td>
    </tr>
    <tr>
        <th>DB软件版本及psu</th>
        <td>{{ ov.db.version.status }}</td>
        <td>{{ ov.db.version.des }}</td>
    </tr>
    <tr>
        <th>数据库信息</th>
        <td>{{ ov.db.info.status }}</td>
        <td>{{ ov.db.info.des }}</td>
    </tr>
    <tr>
        <th>内存参数设置</th>
        <td>{{ ov.db.memory.status }}</td>
        <td>{{ ov.db.memory.des }}</td>
    </tr>
    <tr>
        <th>表空间使用率</th>
        <td>{{ ov.db.table.status }}</td>
        <td>{{ ov.db.table.des }}</td>
    </tr>
    <tr>
        <th>自增长数据文件</th>
        <td>{{ ov.db.growth.status }}</td>
        <td>{{ ov.db.growth.des }}</td>
    </tr>
    <tr>
        <th>offline数据文件</th>
        <td>{{ ov.db.offline.status }}</td>
        <td>{{ ov.db.offline.des }}</td>
    </tr>
    <tr>
        <th>Redo log组</th>
        <td>{{ ov.db.redo.status }}</td>
        <td>{{ ov.db.redo.des }}</td>
    </tr>
    <tr>
        <th>归档量</th>
        <td>{{ ov.db.arch.status }}</td>
        <td>{{ ov.db.arch.des }}</td>
    </tr>
    <tr>
        <th>失效索引</th>
        <td>{{ ov.db.index.status }}</td>
        <td>{{ ov.db.index.des }}</td>
    </tr>

</html>