[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
pep8 = "*"

[packages]
docxtpl = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
ipython = "*"
cx-oracle = "*"
tornado = "*"
requests = "*"
prompt-toolkit = "*"
pygments = "*"
seaborn = "*"
matplotlib = "*"
apscheduler = "*"
sqlalchemy = {index = "https://pypi.douban.com/simple/",version = "*"}
mysql = {index = "https://pypi.douban.com/simple/",version = "*"}

[requires]
python_version = "3.7"
