[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
sqlalchemy = "*"
ipython = "*"
prompt = "*"
prompt-toolkit = "*"
texttable = "*"
pyyaml = "*"
paramiko = "*"
pexpect = "*"
pytest = "*"
requests = "*"
pylint = "*"

[requires]
python_version = "2.7"
