[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sqlalchemy = "*"
ipython = "*"
prompt = "*"
prompt-toolkit = "*"
texttable = "*"
pyyaml = "*"
paramiko = "*"
pexpect = "*"

[requires]
python_version = "2.7"
